// colors
$accentColor = #3138AD
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #3e8ac9

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 840px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
